.modal{
    padding: 0px 15px;
}
.addCollegeModal-wrapper{
    max-width: 1070px;
    .paddingLR-0{
        padding-left: 0px;
        padding-right: 0px;
    }
    .modal-content{
        border-radius: 0px;
        font-family: 'Poppins', sans-serif !important;
        button{
            font-family: 'Poppins', sans-serif !important;
        }
        .modal-header{
            border-radius: 0px !important;
            border-bottom: none;
            padding-bottom: 0px;
            padding-top: 30px;
            .modal-title.h4{
                font-size: 15px;
                font-weight: 600; 
                color: #656F7C;
                text-transform: uppercase;
            }
            .close{
                font-weight: normal;
                text-shadow: none;
                font-family: verdana !important;
                font-size: 28px;
                position: relative;
                top: -20px;
            }
        }
        .modal-body{
                .frm-row-modal{
                    margin-bottom: 15px;
                }
                label{
                    font-size: 16px;
                    font-weight: 500;
                    color: #000;
                    margin-bottom: 2px;
                }
                input{
                    border-radius: 4px;
                    width: 100%;
                    height: 38px;
                    font-size: 14px;
                    border: 1px solid #AAAAAA;
                    color: #000;
                    font-weight: 400;
                    padding: 12px;
                    font-family: 'Poppins', sans-serif !important;
                }
                textarea{
                    border-radius: 4px;
                    width: 100%;
                    height: 84px;
                    float: left;
                    font-size: 14px;
                    border: 1px solid #AAAAAA;
                    color: #000;
                    font-weight: 400;
                    padding: 12px;
                    resize: none;
                    font-family: 'Poppins', sans-serif !important;
                }
        }
        .modal-footer{
            border-top: none;
            padding-top: 0px;
            padding-bottom: 30px;
            button{
                border-radius: 4px;
                width: 96px;
                height: 38px;
                font-weight: 600;
                font-size: 14px;
            }
            .modal-btn-cancel{
                border: 1px solid #CCCCCC;
                color: #929CA8;
                background-color: #fff;
            }
            .modal-btn-submit{
                border: 1px solid #FF6E44;
                color: #fff;
                background-color: #FF6E44;
                margin-left: 10px;
            }
        }
    }
}