.main-wrapper{
    width: 100%;
    float: left;
    .main-container{
        width: 100%;
        float: left;
        padding: 10px;
        .content-container{
            width: 100%;
            float: left;
            padding: 15px;
            background-color: #fff;
        }
    }
    .pagination-container{
        width: 100%;
        float: left;
        background-color: #fff;
    }
}


@media (min-width: 768px){
    .pr-md-4{
        padding-right: 4px !important;
    }
    .pl-md-4{
        padding-left: 4px !important;
    }
}