.qustn-wrapper{
    width: 100%;
    float: left;
    margin: 8px 0px;
}

@media (min-width: 768px){
    .pr-md-4{
        padding-right: 4px !important;
    }
    .pl-md-4{
        padding-left: 4px !important;
    }
}