body{
    background-color: #f2f2f2;
}
@media (min-width: 992px){
    .px-lg-50{
        padding-left: 50px;
        padding-right: 50px;
    }
    .py-lg-40{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (max-width: 992px){
    .py-md-15{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}