.sub-header-wrapper{
    width: 100%;
    float: left;
    background: #fff;
    .sublink-container{
        justify-content: space-between;
        align-items: center;
        padding: 8px 0px;
        .sublink-left{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;
                float: left;
                li{
                    float: left;
                    a{
                      color: #65707C;
                      font-size: 15px;
                      font-weight: 500;
                      &:hover{
                          text-decoration: none;
                      }
                      &.is-active{
                          color: #FF6E44;
                      }

                        i, img{
                            margin-right: 5px;  
                            position: relative;
                            top: -1px; 
                        }
                        img{top: -2px;}
                    }
                    &:not(:last-of-type):after{
                        content:"|";
                        padding: 0px 15px;
                        color: #ccc;
                    }
                }
            }
        }
        .sublink-right{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    float: left;
                    min-height: 36px;
                    .btn-link{
                      color: #010101;
                      font-size: 16px;
                      font-weight: 500;
                      position: relative;
                      top: -2px;
                      padding: 0px;
                      border: 0px;
                      &:hover, &:focus{
                          text-decoration: none;
                      }
                      i{
                        color: #FF6E44;
                        font-size: 24px;
                        margin-right: 5px;
                        position: relative;
                        top: 1px;
                      }
                    }
                    &:not(:last-of-type):after{
                        content:"|";
                        padding: 0px 15px;
                        color: #ccc;
                    }
                }
            }
        }
    }
}