.main-wrapper{
    width: 100%;
    float: left;
    .main-container{
        width: 100%;
        float: left;
        padding: 10px;
        .content-container{
            width: 100%;
            float: left;
            padding: 15px;
            background-color: #fff;
            .table-list-wrapper{
                width: 100%;
                float: left;
                padding: 0px 25px;
                table{
                    margin-bottom: 0px;
                    border: 1px solid #eff1f3;
                    thead{
                        background-color: #eff1f3;
                        th{
                            color: #343b43;
                            border-bottom: 1px solid #eff1f3;
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }
                    tbody{
                        tr:not(:last-of-type){
                            border-bottom: 1px solid #eff1f3; 
                        }
                        td{
                            color: #5a646f;
                            border-top: 0px solid #eff1f3; 
                            font-size: 13.5px;
                            &.options-cell{
                                span:not(.seperator){
                                    color: #000;
                                }
                                span.seperator{
                                    padding: 0px 20px;
                                    color: #ccc;
                                }
                                .edit-icon{
                                    cursor: pointer;
                                    svg{
                                        color: #3a9950;
                                    }
                                }
                                .delete-icon{
                                    cursor: pointer;
                                    svg{
                                        color: #f74a49;
                                    }
                                }
                                i{
                                    font-size: 18px;
                                    margin-right: 8px;
                                    position: relative;
                                    top: -1px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pagination-container{
        width: 100%;
        float: left;
        background-color: #fff;
        padding: 15px;
        .pagination{
            margin-bottom: 0px;
            justify-content: center;
            .page-link{
                border: 0px;
                color: #8e8e8e;
                position: relative;
                top: 2px;
                &:focus{
                    box-shadow: none;
                }
                svg{
                    position: relative;
                    top: -2px;
                    color: #00416A;
                }
            }
            .page-item.active{
                .page-link{
                    background-color: transparent;
                    border-color: transparent;
                    color: #545454;
                }
            }
            .page-item.disabled{
                .page-link{
                    color: #8e8e8e;
                }
            } 
        }
    }
}


@media (min-width: 768px){
    .pr-md-4{
        padding-right: 4px !important;
    }
    .pl-md-4{
        padding-left: 4px !important;
    }
}