@mixin round-icon(){
    font-size: 13px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: #010031;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    &.header-bg{
        background-color: #343b44;
    }
    .navbar-brand{
        font-size: 17px;
        font-weight: 600;
    }
    .user-info{
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        .user-icon{
            @include round-icon;
            margin-left: 6px;
        }
    }
    .logout-icon{
        @include round-icon;
        margin-left: 8px;
        background: url(../../assets/image/Logout.svg) no-repeat center center #010031;
    }
}