.mx-minus-10{
    margin-left: -10px;
    margin-right: -10px;
}
.qstn-overview-container{
    width: 100%;
    float: left;
    min-height: 100%;
    background-color: #fff;
    .qstn-overview-title{
        display: flex;
        justify-content: space-between;
        color: #464F59;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 5px;
        font-size: 16px;
        font-weight: 500;
    }
    .overview-num-wrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0px;
        margin: 0px -2px;
        span{
            display: flex;
            font-size: 14px;
            color: #343B44;
            font-weight: 600;
            border-radius: 100%;
            width: 36px;
            height: 36px;
            align-items: center;
            justify-content: center;
            margin: 2px;
            &.qstn-answered{
                background-color: #42C383;
            }
            &.qstn-un-answered{
                background-color: #C7CCCD;
            }
            &.qstn-bookmarked{
                background-color: #343B44;
                color: #fff;
            }
            &.qstn-cq{
                background-color: #FF6E44;
                color: #fff;
            }
        }
    }
    .overview-legend-wrapper{
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #e8e8e8;
        padding-top: 12px;
        .overview-legend{
            color: #afafb9;
            font-weight: 500;
            font-size: 13px;
            padding-right: 5px;
            flex-basis: 50%;
            margin-top: 8px;
            position: relative;
            padding-left: 25px;
            &:before{
                content: "";
                width: 18px;
                height: 18px;
                float: left;
                border-radius: 100%;
                position: absolute;
                left: 0;
                background-color: #c8cccd;
            }
            &.answered:before{
                background-color: #42C383;
            }
            &.un-answered:before{
                background-color: #C7CCCD;
            }
            &.bookmarked:before{
                background-color: #343B44;
            }
            &.c-question:before{
                background-color: #FF6E44;
            }
        }
    }
    .exam-btn-container{
        padding-top: 25px;
        button{
            min-width: 150px;
            font-size: 15px;
            background-color: #FF6E44;
            border: 1px solid #FF6E44;
            padding: 12px 20px;
            font-weight: 600;
            font-size: 16px;

            &:focus, &:active{
                background: #c1452f !important;
                outline: none !important;
                box-shadow: none !important;
                border-color: #FF6E44 !important;
            }
            &:hover{
                background: #ea5036 !important;
            }
        }
    }
}


    