.mx-minus-10{
    margin-left: -10px;
    margin-right: -10px;
}
.qustn-container{
    width: 100%;
    float: left;
    min-height: 100%;
    background-color: #fff;
    .qustn-title-container{
        display: flex;
        justify-content: space-between;
        color: #464F59;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 5px;
        font-size: 16px;
        font-weight: 500;
        .qustn-num{
            display: flex;
            align-items: center;
        }
        .q-bc-container{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            button{
                background-color: #EFF1F3;
                border: 1px solid #0AAD5E;
                border-radius: 5px;
                color: #3B434E;
                padding: 10px 15px;
                font-weight: 500;
                font-size: 16px;
                min-width: 172px;
                img{
                    position: relative;
                    top: -2px;
                    margin-right: 6px;
                }
                &:not(:first-of-type){
                    margin-left: 15px;
                }
            }
        }
    }
    .qustn-view-container{
        width: 100%;
        float: left;
        .qustn-view{
            width: 100%;
            float: left;
            margin: 20px 0px;
            color: #343B44;
            font-weight: 600;
            font-size: 17px;
            line-height: 28px;
        }
    }

    .qustn-obj-container{
        width: 100%;
        float: left;
        &>p{
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 500;
            color: #464F59;
        }
        .qustn-obj-view{
            width: 100%;
            float: left;
            .choice-col-main{
                padding: 0px 10px;
                .choice-column{
                    width: 100%;
                    float: left;
                    background-color: #e8e8e8;
                    padding: 0px 5px;
                    height: 100%;
                    .choice-column-inner{
                        width: 100%;
                        float: left;
                        padding: 10px;
                        border-radius: 15px;
                        margin: 0;
                        height: 100%;
                        cursor: pointer;
                        &:hover{
                            background-color: #fff;
                        }
                        input[type='radio']{display: none;}
                        .objective-ans-view{
                            display: flex;
                            align-items: center;
                            color: #47505B;
                            span{
                                margin-right: 10px;
                                i{
                                    width: 40px;
                                    height: 40px;
                                    float: left;
                                    border-radius: 100%;
                                    border: 1px solid #46484d;
                                    text-align: center;
                                    line-height: 40px;
                                    font-weight: 600;
                                    font-size: 16px;
                                    font-style: normal;
                                }
                            }
                            b{
                                font-weight: 600;
                                font-size: 14px;
                            }
                        }
                        input[type='radio']:checked+.objective-ans-view>span>i{
                            background-color: #FF6E44;
                            color: #fff;
                        }
                    }
                }
              
            }
            .choice-row{
                &:nth-of-type(1){
                    .choice-col-main{
                        @media (min-width: 768px){
                            &:nth-of-type(1) .choice-column{
                                border-top-left-radius: 15px;
                                border-top-right-radius: 15px;
                                padding-top: 10px;
                                .choice-column-inner{
                                    border-bottom: 1px solid #ddd;
                                }
                            }
                            &:nth-of-type(2) .choice-column{
                                border-top-left-radius: 15px;
                                border-top-right-radius: 15px;
                                padding-top: 10px;
                                .choice-column-inner{
                                    border-bottom: 1px solid #ddd;
                                }
                            }
                        }
                        @media (max-width: 768px){
                            &:first-of-type .choice-column{
                                border-top-left-radius: 15px;
                                border-top-right-radius: 15px;
                                padding-top: 10px;
                                .choice-column-inner{
                                    border-bottom: 1px solid #ddd;
                                }
                            }
                            &:last-of-type .choice-column{
                                border-radius: 0px !important;
                                padding-top: 0px;
                                .choice-column-inner{
                                    border-bottom: 1px solid #ddd;
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(2){
                    .choice-col-main{
                        @media (min-width: 768px){
                            &:nth-of-type(1) .choice-column{
                                border-bottom-left-radius: 15px;
                                border-bottom-right-radius: 15px;
                                padding-bottom: 10px;
                            }
                            &:nth-of-type(2) .choice-column{
                                border-bottom-left-radius: 15px;
                                border-bottom-right-radius: 15px;
                                padding-bottom: 10px;
                            }
                        }
                        @media (max-width: 768px){
                            &:first-of-type .choice-column{
                                border-radius: 0px !important;
                                padding-bottom: 0px;
                                .choice-column-inner{
                                    border-bottom: 1px solid #ddd;
                                }
                            }
                            &:last-of-type .choice-column{
                                border-bottom-left-radius: 15px;
                                border-bottom-right-radius: 15px;
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
        .qustn-desc{
            width: 100%;
            float: left;
            textarea{
                width: 100%;
                height: 100px;
                resize: none;
                padding: 15px;
                border: 1px solid #CDD0E3;
                background-color: #fff;
                border-radius: 16px;
                margin-top: 15px;
                color: #464F59;
                font-size: 14px;
                font-weight: 600;
                &:focus{
                    outline: none;
                }
            }
        }
    }
    .qustn-btn-wrapper{
        display: flex;
        justify-content: space-between;
        clear: both;
        padding-top: 30px;
        button{
            padding: 15px 15px;
            font-size: 15px;
            margin-top: 5px;
            margin-right: 4px;
            &:focus, &:active{
                box-shadow: none !important;
                border: none !important;
            }
            &.qstn-next-btn{
                position: relative;
                margin-right: 0px;
                margin-left: 4px;
                border: none;
                font-weight: 600;
                font-size: 16px;
                border-radius: 5px;
                padding-left: 20px;
                padding-right: 20px;
                min-width: 190px;
                &:after{
                    content: '';
                    width: 34px;
                    height: 34px;
                    display: inline-block;
                    vertical-align: middle;
                    background: url(../../assets/image/right_arrow.svg) no-repeat center center #fff;
                    border-radius: 100%;
                    margin-left: 15px;
                }
            }
            &.qstn-prev-btn{
                position: relative;
                margin-left: 0px;
                margin-right: 4px;
                background-color: #D2D6D7;
                border-radius: 5px;
                border: none;
                color: #343B44;
                font-weight: 600;
                font-size: 16px;
                border-radius: 5px;
                padding-left: 20px;
                padding-right: 20px;
                min-width: 190px;
                &:focus, &:hover{
                    background-color: #D2D6D7;
                    color: #343B44;
                }
                &:before{
                    content: '';
                    width: 34px;
                    height: 34px;
                    display: inline-block;
                    vertical-align: middle;
                    background: url(../../assets/image/left_arrow.svg) no-repeat center center #fff;
                    border-radius: 100%;
                    margin-right: 15px;
                }
            }
        }
    }
}